@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");



* {
  font-family: "Poppins", sans-serif;

  padding: 0;
  margin: 0;

  box-sizing: border-box;

  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

/* Custom ScrollBar */
html::-webkit-scrollbar{
  width: 0.5rem;
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: var(--heading-color);
  border-radius: 2rem
}

body {
  color: var(--text-color);
  background-color: var(--secondary-color);
  transition: 300ms all linear;
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 2rem; /*top horizontal bottom*/
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 300ms all linear;
}

.active-header {
  /* Sempre lembrar que o background tem que possui */
  background-color: rgba(var(--container-color), 0.5);
  backdrop-filter: blur(5px);
  transition: 300ms all linear;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

nav > ul {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}


.nav-link {
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
}

.nav-link:hover {
  color: var(--primary-color);
  background-color: var(--container-color);
  transition: 0.3s all linear;
}

.empty-space-on-open-drawer {
  display: none;
  background-color: transparent;
  transition: 300ms all linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 40%;
  height: 100vh;
}

.empty-space-on-open-drawer-active{
  display: block;
}

.logo {
  width: 2rem;
}

/*Menu Icon*/
.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  cursor: pointer;
  z-index: 999;
}

.menu-icon div {
  width: 1.5rem;
  height: 0.12rem;
  background-color: var(--text-color);
  transition: 0.3s; /*Faz as linhas surgirem suavimente*/
}

/*Faremos a injeção da classe move usando js*/
.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
  opacity: 0;
}

.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/*Home Section*/

#home {
  min-height: 600px;
  max-width: 600px;
  width: 100%;
  padding-top: 7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--primary-color);
  overflow: hidden;

  border: 5px solid var(--container-color);

  /*Centraliza a imagem ao centro do circulo*/
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text h3 {
  position: relative;
  color: var(--primary-color);
  font-size: 1.5rem;
  max-width: 100px;
}

.home-text h3::before {
  content: "";
  position: absolute;
  transform: translateX(50%);
  top: 45%;
  left: -2.5rem;
  width: 1.5rem;
  height: 0.15rem;
  background-color: var(--primary-color);
  border-radius: 0.1rem;
}

.home-text h3::after {
  content: "";
  position: absolute;
  transform: translateX(50%);
  top: 45%;
  right: -0.9rem;
  width: 1.5rem;
  height: 0.15rem;
  background-color: var(--primary-color);
  border-radius: 0.1rem;
}

.color {
  color: var(--primary-color);
}

.home-text h2 {
  font-size: 3.5rem;
}

.home-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social .bx {
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.social .bx:hover {
  background-color: var(--primary-color);
  transition: 0.3s background-color linear;
}

/* About Section */

.section-head {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 2rem;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
}

.about-heading > span {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.about-heading > h3 {
  margin: 1rem 0;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 3rem;
}

.about-heading > .btn {
  margin-top: 1.2rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  display: inline-flex;
  gap: 0.6rem;
  justify-content: space-between;
  align-items: center;
  transition: 250ms background-color linear;
}

.about-heading > .btn:hover {
  background-color: #495cc6;
  transition: 250ms background-color linear;
}

.about-details p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  margin-bottom: 2rem;
}

/* Services Section */

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 2rem;
}

.service-box {
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 0.6rem;
}

.service-box:hover {
  box-shadow: 2px 2px 10px var(--primary-color);
  transform: scale(1.05);

  transition-property: box-shadow, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.service-box > .bx {
  font-size: 1.8rem;
  color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 5rem;
  border: 2px dashed var(--text-color);
}

.service-box h2 {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin: 0.6rem 0;
  font-weight: 500;
}

.service-box p {
  font-size: 1rem;
}

/* Portifolio Section */
.portifolio-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
}

.project-box {
  position: relative;
}

.project-box img {
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

.project-overlay {
  position: absolute;
  top: -10000%;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0d0f26ac;
  border-radius: 1rem;

  transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-box:hover .project-overlay {
  top: 0;
  transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-box .project-overlay h2 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project-overlay .bx {
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.3rem;
  transition: 250ms background-color linear;
}

.project-overlay .bx:hover {
  background-color: #495cc6;
  transition: 250ms background-color linear;
}

/* Projects Status */

.projects-status {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.status-box {
  background-color: var(--box-color);
  width: 15rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.status-box p:first-child {
  font-size: 2.3rem;
  font-weight: bold;
}
.status-box p:last-child {
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: bold;
}

/* Review Section */

.reviews-content {
  display: flex;
  height: 310px;
}

.review-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  max-width: 750px;
  width: 100%;

  margin: auto;
  text-align: center;
  row-gap: 0.1rem;
}

.review-box .bx {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.review-box .review-text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.review-box .review-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 700;
}

.review-box .review-user span {
  font-size: 0.9rem;
}

.review-box .review-user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
}

/* Swiper Style */
.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  border-radius: 0.3rem !important;
  background: var(--container-color) !important;
}

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  background: var(--primary-color) !important;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 1rem;
  color: var(--text-color);
  background-color: var(--box-color);
  border-radius: 0.4rem;
}

::placeholder{
  color: var(--text-color);
}
.send-btn {
  cursor: pointer;
  width: 120px;
  text-transform: uppercase;
  background-color: var(--primary-color) !important;
  transition: 300ms all linear;
}

.send-btn:hover {
  background-color: #495cc6 !important;
  transition: 300ms all linear;
}

/* Footer */
#footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

#footer .footer-links a {
  color: var(--text-color);
  transition: 300ms color linear;
}

#footer .footer-links a:hover {
  color: var(--primary-color);
  transition: 300ms color linear;
}

.copyright {
  font-weight: bold;
  font-size: 1rem;
}

/* Scroll to top button */
.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: -4rem;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  /* Display flex when scroll down */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--box-color);
  opacity: 0;

  z-index: 100;

  transition: 300ms opacity linear, 300ms background-color linear;
}

.scroll-to-top:hover {
  background-color: var(--container-color);
  transition: 300ms opacity linear, 300ms background-color linear;
}
.active-scroll-to-top {
  opacity: 1;
  right: 4rem;

  transition: 300ms opacity linear;
}

/* Dark Mode Toggle */


#mode-toggle {
  display: none;
}

label[for="mode-toggle"] {
  width: 5rem;
  height: 2rem;
  background-color: #ebebeb;
  border-radius: 2em;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 10px rgba(255, 255, 255, 0.4); /*O inset faz a sombra ir pra dentro do elemento*/

  transition: 0.3s;
}

label[for="mode-toggle"]:after {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  top: 6px;
  left: 5px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  transition: 0.3s;

}

#mode-toggle:checked + label {
  background: var(--container-color);
}

#mode-toggle:checked + label:after {
  left: 4.6rem;
  background: linear-gradient(180deg, var(--primary-color), var(--container-color));
  transform: translateX(-100%);
}

#mode-toggle + label:active:after {
  width: 4.3rem;
}

#mode-toggle + label > img {
  position: absolute;
  width: 1rem;
  z-index: 100;
  top:0.5rem;
  left: 0.45rem;
  filter: invert(100%);
}


#mode-toggle + label > #moon-icon {
    left: 3.5rem;
    filter:none;
    transition: .3s;
}

#mode-toggle:checked + label > #sun-icon {
    opacity: .5;
}

#mode-toggle:checked + label > #moon-icon {
    opacity: 1;
    filter: invert(100%);
}

#mode-toggle:not(:checked) + label > #moon-icon {
    opacity: .7;
}



/* Responsiviness */

@media (max-width: 1100px) {
  .active-scroll-to-top {
    right: 2.5rem;
  }
  .container {
    width: 90%;
  }

  .section-head {
    font-size: 4.3rem;
  }
}

@media (max-width: 800px) {
  .active-scroll-to-top {
    right: 1rem;
  }
  .navbar {
    padding: 12px 0;
  }

  .section-head {
    font-size: 3.5rem;
  }
  .menu-icon {
    display: flex;
  }
  nav > ul {
    background-color: rgba(var(--container-color), 0.5);
    backdrop-filter: blur(15px);
    transition: 300ms all linear;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 900;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  
  .nav-link {
    padding: 0.5rem 2rem;
  }

  .active-nav {
    right: 0;
    transition: 300ms all linear;
  }

  .about-heading span{
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  
  .portifolio-projects {
    gap: .5rem;
    
  }
  .active-scroll-to-top {
    right: 0.6rem;
  }
  .section-head {
    font-size: 2rem;
  }
  .about-content {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }

  #home {
    min-height: 500px;
    max-width: 500px;
  }
  .home-text h3 {
    font-size: 1.2rem;
  }
  .home-text h2 {
    font-size: 2.8rem;
  }

  .home-text p {
    font-size: 1rem;
  }
  .home-img {
    height: 150px;
    width: 150px;
  }
  .about-heading > h3 {
    margin: 1rem 0;
    font-size: 1.8rem;
  }

  .service-box {
    margin: 0 1.5rem;
  }
  .project-box {
    margin: 0 1.5rem;
  }

  .reviews-content {
    height: 410px;
  }
}

@media(max-width:400px) {
  .portifolio-projects {
    display: grid;
    grid-template-columns: 1fr;
    
  }
  .reviews-content {
    height: 430px;
  }
}

@media(max-width:300px) {
  .home-img {
    height: 100px;
    width: 100px;
  }
  #home {
    min-height: 300px;
    max-width: 300px;
  }
  .home-text h3 {
    font-size: 0.8rem;
  }
  .home-text h2 {
    font-size: 1.6rem;
  }
  .home-text p {
    font-size: 0.7rem;
  }

  .social .bx {
    font-size: 1rem;
  }

  .about-heading h3{
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .about-heading .btn{
    font-size: 0.6rem;
    font-weight: bold;
  }
  
  .about-details p{
    font-size: 0.7rem;
    line-height: 1.1rem;
    margin-bottom: 1rem;
  }


  .service-box > .bx {
    font-size: 1.2rem;
  }

  .service-box h2 {

    font-size: .9rem;

  }
  .service-box p {
    font-size: 0.7rem;
  }

  .status-box p:first-child {
    font-size: 1.2rem;
  }
  

  .reviews-content {
    height: 560px;
  }

  .contact-form .send-btn{
    font-size: 0.7rem;
    width: 100%;
  }
}